@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Outfit:wght@100..900&display=swap');


:root {
    /* Colors */
    --color-dark: #2C2C2C;
    --color-light: #F8F4F4;
    --color-gray-strong: #3E3E3E;
    --color-gray-soft: #D5D5D5;
    --color-pink: #ED8ED4;
    --color-pink-strong: #ED44C0;
    --color-yellow: #F8DC6B;
    --color-blue: #88DAFD;

    --transition: 0.2s ease-out;

    /* Heading */
    --fs-heading-l: normal normal 300 normal 12.8rem/10rem 'Cal Sans';
    --fs-heading-m: normal normal 300 normal 6.2rem 'Cal Sans';
    --fs-heading-s: normal normal 300 normal 4.8rem 'Cal Sans';
    --fs-heading-xs: normal normal 300 normal 2.4rem 'Cal Sans';

    /* Body text */
    --fs-body-l: normal normal 300 normal 3.6rem 'Outfit';
    --fs-body-m: normal normal 300 normal 2rem 'Outfit'; /* Default body text */
    --fs-body-s: normal normal 300 normal 1.5rem 'Outfit';

    /* Labels - buttons, menu, links, ui etc */
    --fs-label-l: normal normal 400 normal 2rem 'Outfit';
    --fs-label-m: normal normal 400 normal 1.8rem 'Outfit';
    --fs-label-s: normal normal 400 normal 1.6rem 'Outfit';

    /* SPACING - OBS ej klar? */
    --spacing-4xs: 0.4rem;
    --spacing-3xs: 0.8rem;
    --spacing-xxs: 1.2rem;
    --spacing-xs: 1.6rem;
    --spacing-s: 2rem;
    --spacing-m: 2.4rem;
    --spacing-l: 3.2rem;
    --spacing-xl: 4.6rem;
    --spacing-xxl: 6.4rem;
    --spacing-3xl: 8rem;

    --site-margin: 8rem;
    --gutter: 4rem;

    --border: 1px solid var(--color-gray-soft);


    /* TODO: mobile variables */
    @media (max-width: 769px) {
        /* Heading */
        --fs-heading-l: 
            normal 
            normal 
            300 
            normal 
            clamp(6.2rem, 10vw, 10.8rem)
            'Cal Sans';

        --fs-heading-m: 
            normal 
            normal 
            300 
            normal 
            clamp(3.8rem, 8vw, 4.8rem)/4rem 
            'Cal Sans';

        --fs-heading-s: normal normal 300 normal 3.6rem 'Cal Sans';
        --fs-heading-xs: normal normal 300 normal 1.8rem 'Cal Sans';

        /* Body text */
        --fs-body-l: normal normal 300 normal 3.2rem 'Outfit';
        --fs-body-m: normal normal 300 normal 1.8rem 'Outfit'; /* Default body text */
        --fs-body-s: normal normal 300 normal 1.5rem 'Outfit';

        /* Labels - buttons, menu, links, ui etc */
        --fs-label-l: normal normal 400 normal 1.8rem 'Outfit';
        --fs-label-m: normal normal 400 normal 1.8rem 'Outfit';
        --fs-label-s: normal normal 400 normal 1.6rem 'Outfit';

        /* SPACING - OBS ej klar? */
        --spacing-4xs: 0.4rem;
        --spacing-3xs: 0.8rem;
        --spacing-xxs: 1.2rem;
        --spacing-xs: 1.6rem;
        --spacing-s: 1.8rem;
        --spacing-m: 2.2rem;
        --spacing-l: 2.8rem;
        --spacing-xl: 4.2rem;
        --spacing-xxl: 5.8rem;
        --spacing-3xl: 7.6rem;

        --site-margin: 4rem;
    }

    @media (max-width: 630px) {
        --fs-heading-s: normal normal 300 normal 3.2rem 'Cal Sans';
    }
}