main {
    overflow: hidden;
}

/* #root {
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-wrap: balance;
    color: var(--color-dark);
}

h1 {
    font: var(--fs-heading-l);
}

p {
    font: var(--fs-body-m);
}

.SiteContainer,
.HeaderContainer,
.FooterContainer {
    max-width: 1440px;
    margin: 0 var(--site-margin);
    justify-self: center;
    width: calc(95vw - var(--site-margin));
}

.SiteContainer {
    margin-top: var(--spacing-3xl);

    @media (max-width: 769px) {
        margin-top: var(--spacing-xxl);
    }
}