.flex-SpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteGrid {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--gutter); */
    display: flex;

    @media (max-width: 1290px) {
        flex-direction: column;
    }
}

.sitegrid-halfWidth--left {
    width: 50%;

    @media (max-width: 1290px) {
        width: 100%;
    }
}

.sitegrid-halfWidth--right {
    width: 50%;

    @media (max-width: 1290px) {
        width: 100%;
    }
}