.CardPalette-slider .PaletteCard-container:last-child {
    margin-right: var(--spacing-xl);

    @media ((max-width: 1290px) and (min-width: 855px)) {
        margin-right: 0;
    }

    @media (max-width: 854px) {
        margin-right: 7rem;
    }
}

.PaletteCard-container {
    min-width: 40rem;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    @media (max-width: 1290px) {
        min-width: 35rem;
        max-width: 47%;
    }

    @media (max-width: 769px) {
        min-width: 31rem;
    }
}

.PaletteCard-container--top {
    display: flex;
}

.PaletteCard-preview--text h3 {
    font: var(--fs-heading-s);
    color: var(--cp-color-titles);
    background-color: var(--cp-color-header);
    padding: var(--spacing-m);
}

.PaletteCard-preview--text > section {
    font: var(--fs-heading-xs);
    background-color: var(--cp-color-bg);
    padding: var(--spacing-m);
}

.PaletteCard-preview--text > section h4 {
    color: var(--cp-color-titles);
    font-weight: 300 !important;
}

.PaletteCard-preview--text > section p {
    font: var(--fs-body-s);
    color: var(--cp-color-text);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.PaletteCard-container--bottom {
    background-color: white;
    padding: var(--spacing-m);
}

.PaletteCard-title h2 {
    font: var(--fs-heading-s);
    margin-bottom: var(--spacing-4xs);
    text-transform: capitalize;
}

.PaletteCard-title > img {
    width: 42px;
    transition: var(--transition);

    &:hover {
        filter: saturate(2.5);
    }

    &:active {
        transform: scale(0.9);
    }

    @media (max-width: 769px) {
        width: 3.8rem;
    }

    @media (max-width: 630px) {
        width: 3.4rem;
    }
}
/* 
.PaletteCard-title > img.is-active {
    filter:
}
 */
.PaletteCard-container--bottom > p {
    display: flex;
    align-items: center;
    gap: var(--spacing-3xs);
    font: var( --fs-label-s);
}

.PaletteCard-container--bottom > p > span {
    width: 1.8rem;
    height: 1.8rem;
}

.PaletteCard-preview--color {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.PaletteCard-preview--color > span {
    height: 25%;
    width: calc(45rem * 0.35);

    @media (max-width: 769px) {
        width: calc(45rem * 0.29);
    }
}

.PaletteCard-container--bottom > button {
    margin-top: var(--spacing-l);
}

.PaletteCard-container--bottom > button > img {
    width: var(--spacing-m);
}

.color-1 {
    background-color: var(--cp-color-text);
}

.color-2 {
    background-color: var(--cp-color-titles);
}

.color-3 {
    background-color: var(--cp-color-header);
}

.color-4 {
    background-color: var(--cp-color-bg);
}

/* Themes */
.PaletteCard-container.portfolio {
    --cp-color-titles: #B80022;
    --cp-color-header: #C5D4F8;
    --cp-color-text: #5D0000;
    --cp-color-bg: #F7F3F2;
}

.PaletteCard-container.scape {
    --cp-color-titles: #ff56a2;
    --cp-color-header: #1c0046;
    --cp-color-text: #f9edeb;
    --cp-color-bg:#311862;
}