.FormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (14rem + 14rem + var(--spacing-3xl)));

    @media (max-width: 769px) {
        min-height: calc(100vh - (20.3rem + var(--spacing-3xl)));
    }
}

.FormContainer-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4xs);
    background-color: white;
    padding: var(--spacing-xl) var(--spacing-xxl);
    border-radius: var(--spacing-3xs);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: var(--spacing-3xl);
    width: 45rem;
    
    @media (max-width: 760px) {
        width: 70%;
        padding: var(--spacing-l) var(--spacing-xl);
    }
}

.FormContainer-form h1 {
    font-size: clamp(4.3rem, 10vw, 7.4rem);
    margin-bottom: var(--spacing-m);
    line-height: 90%;
}

.FormContainer-form.Signup h1 {
    font-size: clamp(3.1rem, 8vw, 5.2rem);
}

.FormContainer-form label {
    font: var(--fs-label-m);
    color: var(--color-dark);
}

.FormContainer-form input {
    box-sizing: border-box;
    padding: var(--spacing-3xs);
    border: solid var(--color-gray-soft) 2px;
    border-radius: 5px;
    font: var(--fs-body-s);
    color: var(--color-dark);
    margin-bottom: var(--spacing-s);

    &:active {
        border: solid gray 2px;
    }

    &:focus {
        border: solid gray 2px;
    }

    &:focus-visible {
        border: solid gray 2px !important;
    }
}

/* .FormContainer-form input:last-of-type {
    margin-bottom: var(--spacing-4xs);
} */

.FormContainer-form input.LoginForm-input--error,
.FormContainer-form input.LoginForm-input--error:focus {
    border: solid #C62828 2px;
    outline: none;
}

.Form-error {
    font: var(--fs-body-s);
    color: #9f0a0a;
    background-color: #efd3d3;
    padding: var(--spacing-3xs);
    border-radius: 0.4rem;
    border-left: solid #de3636 3px;
}

.FormContainer-form button {
    border: none;
    text-align: center;
    padding: var(--spacing-3xs) 0;
    border-radius: var(--spacing-3xs);
    
    background-color: var(--color-gray-strong);
    color: var(--color-light);
    font: var(--fs-label-l);
    transition: var(--transition);
    margin-top: var(--spacing-3xs);
}

.FormContainer-form button:hover {
    background-color: var(--color-dark);
}